{
  "extends": "airbnb",
  "parser": "babel-eslint",
   "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "semi": [2, "never"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false,
    }],
  }
}
