logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
jest.json
clover.xml
.nyc_output
.grunt
.lock-wscript
build/Release
bower_components/
.idea/
node_modules
jspm_packages
dist
.npm
.npmrc
.yarnrc
.node_repl_history
*.iml